# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
dist/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db